<header id="header" role="banner">
  <h1 class="logo" id="fittext"><a href="/">dan<span class="last">jessen</span></a></h1>
  <div class="grid">
    {% include menu.html %}
    <h1 class="logo responsive"><a href="/">dan<span class="last">jessen</span></a></h1>
    <p class="title"><span class="image"><img class="image-normal" id="me" src="https://graph.facebook.com/danjessen/picture?type=normal" alt="It's me!"><img class="image-image image-gamer" id="gamer" src="/assets/img/svg/gamer2.svg" alt="Gamer"><img class="image-image image-pancake" id="pancake" src="/assets/img/svg/pancake.svg" alt="Pancake lover"><img class="image-image image-gentleman" id="gentleman" src="/assets/img/svg/moustache.svg" alt="Gentleman"><img class="image-image image-developer" id="developer" src="/assets/img/svg/webdeveloper.svg" alt="Passionate web developer"></span><span class="image-hook hook-gamer" data-link="gamer">Gamer</span>. <span class="image-hook hook-pancake" data-link="pancake">Pancake lover</span>. <span class="image-hook hook-gentleman" data-link="gentleman">Gentleman</span>.<br><span class="image-hook hook-developer" data-link="developer">Passionate web developer</span>.</p>
  </div>
</header><!-- /header -->


