/* Table of Contents

:: normalize.css
:: susy

*/


/* : normalize.css :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  // The base font size.
  $base-font-size: 16px; // Overrides default set in Vertical Rhythm partial.
  $base-line-height: 24px; // Overrides default set in Vertical Rhythm partial.

  // The font sizes for h1-h6. You should set these variables in your base partial.
  $h1-font-size: 2     * $base-font-size;
  $h2-font-size: 1.625 * $base-font-size;
  $h3-font-size: 1.17  * $base-font-size;
  $h4-font-size: 1     * $base-font-size;
  $h5-font-size: 0.83  * $base-font-size;
  $h6-font-size: 0.75  * $base-font-size;

  $header-font-family: "Open sans", sans-serif;
  $base-font-family: "Pt Sans", sans-serif;
  $code-font-family: "Ubuntu Mono", monospace;
  // The amount lists and blockquotes are indented.
  $indent-amount: 1.875em;

  // After the default variables are set, import the required Compass partials.
  @import "compass/support";
  @import "compass/css3/box-sizing";
  @import "compass/typography/vertical_rhythm";


/* : susy ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  // Break points
  $break-large: 1440px;
  $break-medium: 1280px;
  $break-small: 768px;


/* : theme :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  // theme colors
  $theme-main-color: #11dcdc;
  $theme-main-color-opacity: rgba(17, 220, 220, 0.21);
  $theme-secondary-color: #bad;

  // font colors
  $theme-base-font-color: #444;
  $theme-header-font-color: #222;
  $theme-link-color: #aaa;
  $theme-font-highlight-color: #000;
