//
// HEADER
// --------------------------------------------------


// header
// ------
#header {
  height: 200px;
  overflow: hidden;
  margin-top: 0;
  background-color: @green;               /* @green */
  border-bottom: 1px solid white;
}


// logo
// ----
#header {
  h1 {
    float: right;
    margin: 114px auto 0;
    font-size: 100px;
    text-align: right;
    .transition(all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55));

    &:hover {
      margin-top: 89px;
    }
  }
}

.logo {
  font-family: "Lato";
  font-weight: 300;
  padding: 15px;
  color: #fff;
  text-align: center;
  .transition(all .5s ease-out);

  .last {
    font-weight: 700;
  }
}




// title
// -----
#header {
  .title {
    margin: 55px auto;
    color: #fff;
    font-size: 20px;
    height: 100px;
    padding: 25px 0;
  }
}


// title images
// ------------
#header {
  .image {
    .inline-block;
    float: left;
    margin-top: -25px;
    margin-right: 10px;
    border-radius: 55px;
    overflow: hidden;
    .square(100px);
    position: relative;

    &.hover {
      background-color: white;
    }
  }

  .image-hook,
  .image-image,
  .image-normal {
    .transition(all .8s cubic-bezier(0.445, 0.05, 0.55, 0.95));
  }

  .image-image, .image-normal {
    .box-sizing;
    .square(100px);
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-normal {
    border-radius: 55px;
    &.hover { .opacity(0); }
  }

  .image-image {
    padding: 20px;
    .opacity(0);
    &.hover { .opacity(1); }
  }

  .image-hook {
    cursor: pointer;
    &:hover { color: @dark; }                 /* @dark */
  }
}
