//
// HEADER
// --------------------------------------------------


// banner
// ------
#header {
  height: 200px;
  overflow: hidden;
  margin-top: 0;
  background-color: @green;               /* @green */
  border-bottom: 1px solid white;

  .title {
    margin: 55px auto;
    color: #fff;
    font-size: 20px;
    height: 100px;
    padding: 25px 0;
    .transition(all 0 ease-out);
  }

  .image {
    .inline-block;
    float: left;
    margin-top: -25px;
    margin-right: 10px;
    background-color: white;
    border-radius: 55px;
    overflow: hidden;
    .square(100px);
    position: relative;
  }
  .image-image, .image-normal {
    .box-sizing;
    .square(100px);
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-normal.hover {
    .opacity(0);
  }

  .image-image {
    padding: 20px;
    .opacity(0);
    &.hover { .opacity(1); }
  }

  .image-hook,
  .image-image,
  .image-normal {
    .transition(all 0.5s ease-out);
  }

  .image-hook {
    cursor: pointer;
    &:hover { color: #2c3e50; }
  }

  h1 {
    float: right;
    margin: 114px auto 0;
    font-size: 100px;
    text-align: right;

    &:hover {
      margin-top: 89px;
    }
  }
}

