@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../fonts/entypo.woff') format('woff'), /* Modern Browsers */
   url('../fonts/entypo.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../fonts/entypo.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;/* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'entypo-social';
  src: url('../fonts/entypo-social.eot');
  src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../fonts/entypo-social.woff') format('woff'), /* Modern Browsers */
   url('../fonts/entypo-social.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../fonts/entypo-social.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;/* IE9 Compat Modes */
  /* Legacy iOS */
}
.btn {
  font-family: "entypo";
}
.btn-social {
  font-family: "entypo-social";
}
/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */
/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
  padding: 10px;
}
/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
.grid .unit:first-child {
  padding-left: 20px;
}
.grid .unit:last-child {
  padding-right: 20px;
}
/* Nested grids already have padding though, so let’s nuke it */
.unit .unit:first-child {
  padding-left: 0;
}
.unit .unit:last-child {
  padding-right: 0;
}
.unit .grid:first-child > .unit {
  padding-top: 0;
}
.unit .grid:last-child > .unit {
  padding-bottom: 0;
}
/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}
/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin: 0 auto;
}
/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.grid .whole,
.grid .w-1-1 {
  width: 100%;
}
.grid .half,
.grid .w-1-2 {
  width: 50%;
}
.grid .one-third,
.grid .w-1-3 {
  width: 33.3332%;
}
.grid .two-thirds,
.grid .w-2-3 {
  width: 66.6665%;
}
.grid .one-quarter,
.grid .w-1-4 {
  width: 25%;
}
.grid .three-quarters,
.grid .w-3-4 {
  width: 75%;
}
.grid .one-fifth,
.grid .w-1-5 {
  width: 20%;
}
.grid .two-fifths,
.grid .w-2-5 {
  width: 40%;
}
.grid .three-fifths,
.grid .w-3-5 {
  width: 60%;
}
.grid .four-fifths,
.grid .w-4-5 {
  width: 80%;
}
.grid .golden-small,
.grid .w-g-s {
  width: 38.2716%;
}
/* Golden section: smaller piece */
.grid .golden-large,
.grid .w-g-l {
  width: 61.7283%;
}
/* Golden section: larger piece */
/* Clearfix after every .grid */
.grid {
  *zoom: 1;
}
.grid:before,
.grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
/* Utility classes */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* Responsive Stuff */
@media screen and (max-width: 568px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .grid .unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}
/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .grid {
    max-width: 1180px;
    margin: 0 auto;
  }
}
/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  background: #fff;
  /* 1 */

  color: #000;
  /* 2 */

  font-family: sans-serif;
  /* 3 */

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* 4 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.highlight {
  background: #ffffff;
  /* Literal.Number.Integer.Long */
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kn {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #bb8844;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #999999;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #bb8844;
}
.highlight .sc {
  color: #bb8844;
}
.highlight .sd {
  color: #bb8844;
}
.highlight .s2 {
  color: #bb8844;
}
.highlight .se {
  color: #bb8844;
}
.highlight .sh {
  color: #bb8844;
}
.highlight .si {
  color: #bb8844;
}
.highlight .sx {
  color: #bb8844;
}
.highlight .sr {
  color: #808000;
}
.highlight .s1 {
  color: #bb8844;
}
.highlight .ss {
  color: #bb8844;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading a,
.wf-loading p,
.wf-loading li,
.wf-loading td {
  opacity: 0;
}
.ie.wf-loading h1,
.ie.wf-loading h2,
.ie.wf-loading h3,
.ie.wf-loading h4,
.ie.wf-loading h5,
.ie.wf-loading h6,
.ie.wf-loading p,
.ie.wf-loading li,
.ie.wf-loading td {
  visibility: hidden;
  /* Old IE */

}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
td,
a {
  opacity: 1;
  visibility: visible;
  /* Old IE */

  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
pre,
code {
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-weight: 400;
}
.ornament {
  font-family: Old Standard TT, serif;
  font-weight: Old Standard TT, serif;
}
.logo {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1;
}
.logo .big,
.logo .last {
  font-weight: 700;
}
.logo small,
.logo .title {
  font-weight: 300;
  font-size: 50%;
  text-transform: none;
  line-height: 1;
}
#sidr-top {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
}
#sidr-top a {
  text-decoration: none;
}
#sidr-top .btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 49px;
  height: 49px;
  text-align: center;
  line-height: 49px;
  font-size: 45px;
  color: #fff;
  background-color: #000;
  -webkit-transition: color, background-color 0.5s ease-out;
  -moz-transition: color, background-color 0.5s ease-out;
  -o-transition: color, background-color 0.5s ease-out;
  transition: color, background-color 0.5s ease-out;
}
#sidr-top:hover .btn {
  color: #2c3e50;
  background-color: #bdc3c7;
}
#sidr-top #open {
  display: none;
}
#sidr-top .logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 49px;
  line-height: 49px;
  font-size: 28px;
  color: #1abc9c;
  /* @green */

  padding: 0 18px;
  margin: 0;
  background-color: #fff;
}
#sidr-top:hover .logo {
  color: #3498db;
  /* @blue */

}
#header {
  height: 200px;
  overflow: hidden;
  margin-top: 0;
  background-color: #1abc9c;
  /* @green */

}
#header .title {
  width: 1280px;
  margin: -180px auto;
  padding-left: 300px;
  color: #fff;
  font-size: 20px;
}
#header h1 {
  width: 1280px;
  margin: 100px auto 0;
  background-color: inherit;
  font-size: 120px;
}
html,
body {
  background-color: #ecf0f1;
  height: 100%;
}
.logo {
  font-family: "Lato";
  font-weight: 300;
  padding: 15px;
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.5s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.5s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.5s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.upper {
  text-transform: uppercase;
}
.logo .last {
  font-weight: 700;
}
.logo .title {
  visibility: hidden;
  text-transform: none;
}
.logo:hover .title {
  visibility: visible;
}
