/* Table of Contents

:: Blockquotes
:: Code
:: Smoother page load

*/


/* : Blockquotes :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  blockquote {
    display: inline-block;
    padding-left: 1.125em;
    padding-bottom: 0;
    font-size: 0.875em;
    line-height: 1.563em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-left: 1.25em solid $theme-main-color;

    p {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }


/* : Code ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  pre, code {
    font-family: "Ubuntu-Mono", monospace;
    font-size: 0.875em;
    margin-left: 3.125em;
    background-color: #fdfdfd;
  }
      code {
        margin: 0;
        border: 0.125em solid #d2d2d2;
        padding: 0.250em;
        -webkit-border-radius: 0.3125em;
                border-radius: 0.3125em;
           -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
                background-clip: padding-box;
      }

  .highlight {
    background-color: #fdfdfd;
    margin-left: -3.125em;
    padding: 1.25em  0;
    border-top: 0.125em solid #d2d2d2;
    border-bottom: 0.125em solid #d2d2d2;
  }


/* : hr ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  hr {
    height: em(10px);
    margin: em(20px) 0;
    border: 0;
    background: #FBFBFB;
    clear: both;
  }


/* : Smoother page load ::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  .wf-loading h1,
  .wf-loading h2,
  .wf-loading h3,
  .wf-loading p,
  .wf-loading li {
    opacity: 0;
  }

  .ie.wf-loading h1,
  .ie.wf-loading h2,
  .ie.wf-loading h3,
  .ie.wf-loading p,
  .ie.wf-loading li {
    visibility: hidden; /* Old IE */
  }

  h1, h2, h3, p, li {
    opacity: 1;
    visibility: visible; /* Old IE */
    -webkit-transition: opacity 0.24s ease-in-out;
       -moz-transition: opacity 0.24s ease-in-out;
            transition: opacity 0.24s ease-in-out;
  }
