/* : typography ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  body, h1, h2, h3, pre {
    font-family: $base-font-family;
    color: $theme-base-font-color;
  }

  #post-header h1 {
    font-family: $header-font-family;
    font-weight: 800;
    color: $theme-header-font-color;
  }

  a {
    color: $theme-font-highlight-color;
    text-decoration: none;
    border-bottom: 0.125em solid $theme-main-color;
    &:hover {
      color: $theme-link-color;
    }
    &:active {
      border-color: $theme-secondary-color;
    }
  }

  b, strong {
    font-weight: 700;
    color: $theme-font-highlight-color;
  }

