/* : typography ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: normal;
    color: $theme-header-font-color;
  }

  body {
    font-family: $base-font-family;
    color: $theme-base-font-color;
  }

  a {
    text-decoration: none;
    color: $theme-main-color;
    border-bottom: 0.125em solid $theme-main-color;
    &:hover { text-decoration: none; }
  }


/* : Smoother page load ::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  .wf-loading h1,
  .wf-loading h2,
  .wf-loading h3,
  .wf-loading p,
  .wf-loading li {
    opacity: 0;
  }

  .ie.wf-loading h1,
  .ie.wf-loading h2,
  .ie.wf-loading h3,
  .ie.wf-loading p,
  .ie.wf-loading li {
    visibility: hidden; /* Old IE */
  }

  h1, h2, h3, p, li {
    opacity: 1;
    visibility: visible; /* Old IE */
    -webkit-transition: opacity 0.24s ease-in-out;
       -moz-transition: opacity 0.24s ease-in-out;
            transition: opacity 0.24s ease-in-out;
  }
