// : header :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: /
  #page-header {
    @include clearfix;
    width: em(600px);
    margin: em(20px) auto;

    figure {
      float: left;
      margin-right: em(10px);
    }

    img {
      border-radius: em(3px);
      border-radius: em(3px);
      -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
       box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);

      .wf-loading & {
        -webkit-box-shadow: 0 2px 0 #fff;
         box-shadow: 0 2px 0 0 #fff;
      }
    }

    h1,
    p {
      margin: 0;
      line-height: 1;
      color: $theme-header-font-color;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    }

    h1 {
      font-size: em(24px);
      margin-bottom: em(5px);
    }

    .logo {
      float: left;
      width: em(300px);
      border-bottom: 0;
      margin-top: em(20px);
    }
  }



