/* : menu ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  #menu {
    @include clearfix;
    float: right;
    width: em(300px);

    span {
      display: block;
      text-align: center;
    }

    ul {
      @include clearfix;
    }

    li {
      list-style: none;
      float: left;
      width: 33.3333%
    }

    a {
      display: block;
      border-bottom: none;
    }
  }
