//
// BASE
// --------------------------------------------------


// theme
// -----
html,body {
  background-color: #ecf0f1;
  height: 100%;
}


// base setup
// ----------
.grid {
  position: relative;
}


// helpers
// -------
.upper {
  text-transform: uppercase;
}
